.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
  margin-top :-10px;
}

.hero-area 
{
  height: 500px;
}

.admin-menu li.active {
    text-decoration: none;
    background-color: #eee;
}

.breadcrumb-area {
    padding-top: 25px !important;
    padding-bottom: 15px;
}