.my-alert-danger
{
    color: #ff0005 !important;
    background-color: #fcc1c2 !important;
    border-color: #ff0005 !important;
    text-align: center;
}
.my-alert-success
{
    color: #45ff00 !important;
    background: #e8fce0 !important;
    border-color: #45ff00 !important;
    text-align: center;
}

.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
  margin-top :-10px;
}

.hero-area 
{
  height: 500px;
}

.admin-menu li.active {
    text-decoration: none;
    background-color: #eee;
}

.breadcrumb-area {
    padding-top: 25px !important;
    padding-bottom: 15px;
}

button.my-btn, .my-btn
{
    display: inline-block;
    vertical-align: middle;
    background: rgba(6, 116, 236, 0.1);
    border: 0;
    color: #0674ec;
    font-size: 14px;
    font-weight: 500;
    padding: 0 15px;
    line-height: 32px;
    /*margin-right: 15px;*/
    transition: all 0.5s ease;
}

button.my-btn:hover, .my-btn:hover
{
    background-color: #0674ec;
    color: #fff;
}

.btn--icon span
{
    margin-right: -1px;
}

#new-dp
{
    display: inline-block;
}

.social_icon span.fa-linkedin
{
    background-color: #0077b5;
}

/*.product--card .product-desc
{
    height: 200px;
}*/

.sidebar_author .message-card .mycontact-info p
{
    text-align: left;
}

.sidebar_author .message-card .mycontact-info p span
{
    color:#0674ec;
}

/*.product--card .product-desc
{
    height: 190px;
}*/

.iconcolor
{
    color:#0674ec;
}

.hero-area::before
{
    background: none;
}

.info-contact li .info-icon, .info-contact li .info
{
    display: inline-block;
    vertical-align: top;
}

.section--padding
{
    padding-top: 20px;
    padding-bottom: 20px;
}

/*.item-preview {
    height:640px;
}*/

.item-info .tab-content
{
    margin-top: 0px;
}

.card_content .delete
{
    position: relative;
    margin-bottom:20px;
}

/*.delete img {
    width: 100%;
    height: auto;
}*/

.delete .btn
{
    position: absolute;
    top: 10%;
    left: 15%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: white;
    font-size: 16px;
    padding: 3px 6px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

.product .prod_btn
{
    z-index: 2;
}

.author-card .author-infos .author_avatar, .product-desc ul.titlebtm .auth-img, .profile_images .profile_image_area img
{
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

.profile_images .profile_image_area img
{
    width: 100px;
    height: 100px;
}

.prev-slide img
{
    max-height: 430px;
    width: 100%;
}

/*==============================
        Product Detail
===============================*/
.item-preview .item__preview-thumb
{
    padding: 15px 30px 15px 30px;
}

.item-preview .prev-thumb
{
    padding: 0;
}

.zoom-indicator
{
    position: absolute;
    z-index: 999;
    color: #999;
    right: 20px;
    top: 10px;
    cursor: pointer;
}
/*==============================
    Product Detail ends here
===============================*/

/*==============================
   Home, Category wise product
===============================*/
/*.product--card .product-desc.size175
{
    height: 175px;
}*/

.product--card .product-desc
{
    height: 200px;
}

.titlebtm li
{
    padding: 0 0 10px 0;
}

@media only screen and (max-width: 767px) {
   .prev-slide img
    {
        max-height: 240px;
        width: 100%;
    }
}


@media only screen and (max-width: 480px) {
   .prev-slide img
    {
        max-height: 166px;
        width: 100%;
    }
}